<mat-sidenav-container>
  <mat-sidenav mode="side" opened>

    <button (click)="navigate(Routes.campaigns)" mat-button class="menu-button">
      <mat-icon>shop_two</mat-icon>
      <span>Campaigns</span>
    </button>
    <button (click)="navigate(Routes.templates)" mat-button class="menu-button">
      <mat-icon>receipt</mat-icon>
      <span>Templates</span>
    </button>
    <button (click)="navigate(Routes.settings)" mat-button class="menu-button">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button (click)="navigate(Routes.dashboard)" mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Receivers</span>
    </button>
    <mat-divider></mat-divider>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-wrapper">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

