<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <button (click)="navigate(Routes.dashboard)" mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Dashboard</span>
    </button>
    <button (click)="navigate(Routes.campaigns)" mat-button class="menu-button">
      <mat-icon>shop_two</mat-icon>
      <span>Campaigns</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-wrapper">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

