mat-sidenav {
  width: 200px;
  border-right: none;
  background: rgb(126,141,230);
  background: linear-gradient(0deg, rgba(126,141,230,1) 0%, rgba(44,62,159,1) 100%);
  color: white;
  padding: 16px;
  text-align: center;

  .menu-button {
    display: flex;

    mat-icon {
      margin-right: 8px;
    }
  }
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px 16px 16px 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: lightgray;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

mat-sidenav-content {
  background-color: #e0dede;

  .content-wrapper {
    $margin: 18px;
    background-color: white;
    box-shadow: 2px 2px 8px 0 rgba(66, 68, 90, 1);
    margin: $margin;
    padding: $margin;
    width:  calc(100% - $margin * 4);
    height: calc(100%  - $margin * 4);
  }
}


